<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 15%">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="toggleSidenav()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1>Ngx Mention</h1>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
